{% extends "dependencies.html" %}
{% block dependencies %}

<div class="row m-5">
</div>
<div class="row">
	<div class="col-3">

	</div>
	<div class="col-6 bg-pri">
		<div class="row p-2">
			<div class="col-12 bg-sec">
				<div class="row my-5 p-2">
					<div class="col-4">
					</div>
					<div class="col-4">
						<div class="text-center">
							<img src="/static/img/500ErrorIcon.png" class="img-fluid w-75">
						</div>
					</div>
					<div class="col-4">
					</div>
				</div>
				<div class="row">
					<div class="col p-2">
						<div class="text-center text-pri-tex">
							<h1 class="display-1"> <p class="font-weight-bold">500</p></h1>
							<h2><p class="font-weight-bold">Something went wrong?</p></h2>
							<h5><p class="font-weight-bold">I don't know</p></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>

{% endblock dependencies %}