<!-- Footer content -->
<div class="row bg-pri">
    <div class="col-12">
        <div class="row p-2">
            <div class="col-12 bg-sec">
                <div class="row">
                    <div class="col my-auto p-1">
                        <div class="row">
                            <div class="col-12 d-lg-none">  
                                <div class="text-center">
                                    <img class="img-fluid w-75" src="/static/img/Bonpsi_LST_Small.png" />
                                </div>
                            </div>
                            <div class="col-12 d-none d-lg-block">
                                <div class="text-center">
                                    <img class="img-fluid" src="/static/img/Bonpsi_LLT.png" />
                                </div>
                            </div>
                        </div>
                    </div class="col">
                    <div class="col mt-2">
                        <div class="text-right">
                            <a href="{{ url_for('main.presskit') }}" class="btn btn-lg">
                                <h4>
                                    <div class="a-plain font-weight-normal">
                                        Press
                                    </div>
                                </h4>
                            </a>
                        </div>
                    </div class="col">
                    <div class="col mt-2">
                        <div class="text-left">
                            <h2>
                                <a href="{{ url_for('main.contact') }}" class="btn btn-lg disabled">
                                    <h4>
                                        <div class="a-plain font-weight-normal">
                                            Contact
                                        </div>
                                    </h4>
                                </a>
                            </h2>
                        </div>
                    </div class="col">
                    <div class="col">
                    </div class="col">
                </div>
            </div>
        </div>
    </div>
</div>