<!-- Navigation bar -->
<div class="row bg-pri p-2">
    <div class="col-12 bg-sec">
        <div class="row">
            <div class="col-12 p-1">

                <!-- Navigation bar starts here -->
                <nav class="navbar navbar-expand-md">

                    <!-- Hidden button for short screens -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Main navigation bar -->
                    <div class="collapse navbar-collapse" id="navbarNav2">
                        <ul class="navbar-nav w-100 nav-justified">

                            <li class="nav-item">
                                <div class="row mr-md-0 mr-lg-1">
                                    <div class="col-12">
                                        <div class="text-center bg-ter">
                                            <a class="nav-link" href="{{ url_for('main.home') }}">
                                                <h4>
                                                    HOME
                                                </h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item">
                                <div class="row mr-md-0 mr-lg-1">
                                    <div class="col-12">
                                        <div class="text-center bg-ter">
                                            <a class="nav-link" href="{{ url_for('main.snapto') }}">
                                                <h4>
                                                    SNAPto
                                                </h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item">
                                <div class="row mr-md-0 mr-lg-1">
                                    <div class="col-12">
                                        <div class="text-center bg-ter">
                                            <a class="nav-link" href="{{ url_for('posts.postfeed') }}">
                                                <h4>
                                                    BLOG
                                                </h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item">
                                <div class="row mr-md-0 mr-lg-1">
                                    <div class="col-12">
                                        <div class="text-center bg-ter">
                                            <a class="nav-link" href="{{ url_for('main.donate') }}">
                                                <h4>
                                                    DONATE
                                                </h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="text-center bg-ter">
                                            <a class="nav-link" href="{{ url_for('main.about') }}">
                                                <h4>
                                                    ABOUT
                                                </h4>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                </nav>

            </div>
        </div>
    </div>
</div>