{% extends "base.html" %}
{% block content %}

    <!-- Future charities to research and includer -->
    <!-- Against sexism, for black lives matter, for workers union rights 
        Ban all hats -->

    <!-- Attempt 3 -->
    <!-- Full black backing -->
    <div class="row bg-pri">

        <!-- This is a column container -->
        <div class="col-12 col-md-4">
            <div class="row pl-2 pr-2">

                <!-- Second layer backing -->
                <div class="col-12">
                    <div class="row bg-sec p-3">

                        <!-- Top level card section -->
                        <div class="col-12 bg-ter p-3">
                            <div class="text-center">
                                <img class="image-fluid w-100" src="/static/img/Bonpsi_LS.png" />
                            </div>
                            <h3 class="card-title">
                            <div class="text-center text-ter-tex pt-2">
                                Bonpsi
                            </div>
                            </h3>
                            <p class="text-justify text-ter-tex">
                                Bonpsi has a Patreon page. Consider donating if you'd like
                                to see and play more games like SNAPto. Or, if you've got some
                                loose change, then there are some great
                                charities on this page doing vital humanitarian work that
                                would benefit from your donation.
                            </p>
                            <div class="text-center bg-qua">
                                <a class="btn a-plain" target="_blank" href="https://www.patreon.com/Bonpsi">
                                    <h3>
                                        Patreon
                                    </h3>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Second layer backing -->
                <div class="col-12 pt-2">
                    <div class="row bg-sec p-3">

                        <!-- Top level card section -->
                        <div class="col-12 bg-ter p-3">
                            <div class="text-center">
                                <figure>
                                    <img class="img-fluid" src="/static/img/Mermaids_Logo_V3.png"/>
                                </figure>
                            </div>
                            <h3 class="card-title">
                            <div class="text-center text-ter-tex pt-2">
                                Mermaids UK
                            </div>
                            </h3>
                            <p class="text-justify text-ter-tex">
                                Mermaids UK campaign for the recognition amd support of
                                of young people who experience gender dysphoria. They work
                                to reduce isolation, empower families and better the laws
                                that protect those unjustly vulnerable.
                            </p>
                            <div class="text-center bg-qua">
                                <a class="btn a-plain" target="_blank" href="https://www.mermaidsuk.org.uk/">
                                    <h3>
                                        Donate
                                    </h3>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- This is a column container -->
        <div class="col-12 col-md-4">
            <div class="row pr-2 pl-2 pl-md-0 pt-2 pt-md-0">

                <!-- Second layer backing -->
                <div class="col-12">
                    <div class="row bg-sec p-3">

                        <!-- Top level card section -->
                        <div class="col-12 bg-ter p-3">
                            <div class="text-center">
                                <img class="image-fluid w-100" src="/static/img/Raices_Logo.png" />
                            </div>
                            <h3 class="card-title">
                            <div class="text-center text-ter-tex pt-2">
                                Raices
                            </div>
                            </h3>
                            <p class="text-justify text-ter-tex">
                                Raices is a nonprofit agency that provides free and low-cost
                                legal services to underserved immigrant children, families
                                and refugess. The fight against immigrations systems that
                                break apart families and leave millions without pathways to
                                legal status.
                            </p>
                            <div class="text-center bg-qua">
                                <a class="btn a-plain" target="_blank" href="https://www.raicestexas.org">
                                    <h3>
                                        Donate
                                    </h3>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Second layer backing -->
                <div class="col-12 pt-2">
                    <div class="row bg-sec p-3">

                        <div class="col-12 bg-ter p-3">
                            <div class="text-center">
                                <img class="image-fluid w-100" src="/static/img/BLM_Logo.png" />
                            </div>
                            <h3 class="card-title">
                            <div class="text-center text-ter-tex pt-2">
                                Black Lives Matter
                            </div>
                            </h3>
                            <p class="text-justify text-ter-tex">
                                Black Lives Matter is a global organisation whose mission is to
                                eradicate white supremacy and intervene in violence inflicted
                                on Black communities by vigilantes and the state.
                            </p>
                            <div class="text-center bg-qua">
                                <a class="btn a-plain" target= "_blank" href="https://blacklivesmatter.com/">
                                    <h3>
                                        Donate
                                    </h3>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- This is a column container -->
        <div class="col-12 col-md-4">
            <div class="row pr-2 pl-2 pl-md-0 pt-2 pt-md-0">

                <!-- Second layer backing -->
                <div class="col-12">
                    <div class="row bg-sec p-3">

                        <!-- Top level card section -->
                        <div class="col-12 bg-ter p-3">
                            <div class="text-center">
                                <img class="image-fluid w-100" src="/static/img/Stonewall_Logo.png" />
                            </div>
                            <h3 class="card-title">
                            <div class="text-center text-ter-tex pt-2">
                                Stonewall
                            </div>
                            </h3>
                            <p class="text-justify text-ter-tex">
                                Stonewall works to empower LGBT people to create acceptance of 
                                LGBT groups in society and institutions, as
                                well as working towards positive change in laws and
                                rights where not equally legislated.     
                            </p>
                            <div class="text-center bg-qua">
                                <a class="btn a-plain" target="_blank" href="https://www.stonewall.org.uk/">
                                    <h3>
                                        Donate
                                    </h3>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Second layer backing -->
                <div class="col-12 pt-2">
                    <div class="row bg-sec p-3">

                        <!-- Top level card section -->
                        <div class="col-12 bg-ter p-3">
                            <div class="text-center">
                                <img class="image-fluid w-100" src="/static/img/SpecialEffect_Logo.png" />
                            </div>
                            <h3 class="card-title">
                            <div class="text-center text-ter-tex pt-2">
                                Special Effect
                            </div>
                            </h3>
                            <p class="text-justify text-ter-tex">
                                Using technology ranging from joypads to eye-control, Special Effect finds ways 
                                for people of all abilities to get access to video games.
                            </p>
                            <div class="text-center bg-qua">
                                <a class="btn a-plain" target= "_blank" href="https://www.specialeffect.org.uk">
                                    <h3>
                                        Donate
                                    </h3>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock content %}