{% extends "base.html" %}
{% block content %}

	<!-- Login Page V2 -->
	<div class="row bg-pri">
		<div class="col-12 col-md-8">

			<div class="row pl-2 pr-2 pr-md-0">
				<!-- Second layer backing -->
				<div class="col-12 bg-sec">
					<div class="row p-3">
						<div class="col-12 p-3 bg-ter">
							
							<!-- Posting content -->
							<form method="POST" action="">
								<!-- The hidden tag is a form of web protection -->
								{{ form.hidden_tag() }}
								<fieldset class="form-group text-ter-tex">
									<legend class="border-bottom mb-4">Log In</legend>
									<div class="form-group">
										{{ form.email.label(class="form-control-label")}}
										{% if form.email.errors %}
											{{ form.email(class="form-control form-control-lg is-invalid") }}
											<div class="invalid-feedback">
												{% for error in form.email.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.email(class="form-control form-control-lg")}}
										{% endif %}
									<div class="form-group">
										{{ form.password.label(class="form-control-label")}}
										{% if form.password.errors %}
											{{ form.password(class="form-control form-control-lg is-invalid") }}
											<div class="invalid-feedback">
												{% for error in pass_form.password.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.password(class="form-control form-control-lg")}}
										{% endif %}
									<!-- Remember me functionality -->
									<div class="form-check">
										{{ form.remember(class="form-check-input") }}
										{{ form.remember.label(class="form-check-label") }}
									</div>
								</fieldset>
								<div class="form-group">
									{{ form.submit(class="btn bg-qua text-qua-tex") }}
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}