<!-- Social Media Buttons -->
<div class="col-6">

    <div class="row">

        <div class="col-6">
            <a href="https://www.twitter.com/bonpsigames" target="_blank">
                <div class="row px-3 py-4 bg-sm-twitter">
                    <div class="col my-auto d-none d-md-block">
                        <div class="text-center">
                            <h5>
                            Twit
                            </h5>
                        </div>
                    </div>
                    <div class="col my-auto d-md-none">
                        <div class="text-center">
                            <h5>
                                T
                            </h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-6">
            <a href="https://www.facebook.com/bonpsi" target="_blank">
                <div class="row px-3 py-4 bg-sm-facebook">
                    <div class="col my-auto d-none d-md-block">
                        <div class="text-center">
                            <h5>
                            Face
                            </h5>
                        </div>
                    </div>
                    <div class="col my-auto d-md-none">
                        <div class="text-center">
                            <h5>
                                F
                            </h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="row">

        <div class="col-6">
            <a href="{{ url_for('posts.postfeed') }}">
                <div class="row px-3 py-4 bg-sm-devblog">
                    <div class="col my-auto d-none d-md-block">
                        <div class="text-center">
                            <h5>
                                blog
                            </h5>
                        </div>
                    </div>
                    <div class="col my-auto d-md-none">
                        <div class="text-center">
                            <h5>
                                D
                            </h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-6">
            <a href="https://www.reddit.com/r/bonpsi" target="_blank">
                <div class="row px-3 py-4 bg-sm-reddit">
                    <div class="col my-auto d-none d-md-block">
                        <div class="text-center">
                            <h5>
                                Redd
                            </h5>
                        </div>
                    </div>
                    <div class="col my-auto d-md-none">
                        <div class="text-center">
                            <h5>
                                R
                            </h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

</div>